@import '../../../assets/sass/variables';

.event-container {
    background-color: $text-color;
    color: $background-dark;

    padding: 10px 20px;
    border-radius: 5px;
    
    margin-bottom: 10px;
    margin-right: 10px;

    min-width: 220px;
    max-width: 220px;
    min-height: 55px;

    font-size: 0.85em;

    border-left: 7px solid rgba(0, 0, 0, 0);

    &.signup {
        border-left: 7px solid rgba(0, 0, 0, 0.3);
    }

    .event-time {
        font-size: 0.75em;
    }

    .event-title {
        font-weight: bold;
    }
}

@media only screen and (max-width: 430px) {
    .event-container {
        min-width: 80vw;
        max-width: 80vw;
    }
}