<app-topbar></app-topbar>

<div id="schedule-container">
  <div id="days-container">
    <div class="day" *ngFor="let day of availableTimes">
      <div [id]="day.day.toLowerCase() + '-label'" class="time" *ngFor="let time of getTimesForDay(day); index as i">
        {{ showDayLabel(day, i) }}
      </div>
    </div>
  </div>
  <div id="times-container">
    <div [id]="day.day.toLowerCase()" class="day" *ngFor="let day of availableTimes">
      <div class="time" *ngFor="let time of getTimesForDay(day)">
        {{ time }}
      </div>
    </div>
  </div>
  <div class="schedule-slot">

  </div>
</div>