$background-lighter: rgb(58, 58, 59);
$background-light: rgb(37, 37, 38);
$background-dark: rgb(30, 30, 30);

$text-color: rgb(232, 232, 232);

$primary-color: rgb(220, 17, 36);
$logo: '/assets/img/logo.png';